

.app {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
   h1 {
    color: $orange;
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 2rem;
   }
}

@media screen and (max-width: 592px) {
    .app {
        h1 {
            font-size: 2.5rem;
        }
    }
}