

// @use './variables' as *; 
// Az @use alapértelmezetten névteret ad (variables.$bg formában lehetne elérni a változókat), 
// de az as * lehetővé teszi, hogy ezt elkerüld, és közvetlenül hozzáférj a változókhoz.

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 350px;
  background: $bg;
  color: $white-smoke;
  padding: 2rem;
}